*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.fonts-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

header nav{
    background-color: #FFFFFF;
    justify-content: space-between;
}

header nav .nav-container{
    display: flex;
     align-items: center;
}

.nav-container img{
    padding-left: 120px;
    padding-bottom: 16px;
    padding-top: 16px;
}

.nav-container .nav-item ul{
    display: flex;
    padding-left: 346px;
    padding-bottom: 18px;
    padding-top: 18px;
    gap: 32px;
}

.nav-container .nav-item ul li a{
    font-size: 16px;
    font-weight: 500px;
    color: black;
    text-decoration: none;
}

.nav-item ul li{
    list-style: none;
    
}

.nav-container .btn{
   padding-left: 346px;
    padding-bottom: 24px;
    padding-top: 24px;
}

.nav-container .btn button{
   font-size: 16px;
    font-weight: 600px;
    color: #FFFFFF; 
    padding: 12px 16px;
    background-color: #469165;
    border-radius: 4px;
}


