*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.fonts-inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

header nav{
    background-color: #FFFFFF;
    justify-content: space-between;
}

header nav .nav-container{
    display: flex;
    align-items: center;
}

.nav-container img{
    padding-left: 120px;
    padding-bottom: 16px;
    padding-top: 16px;
}

.nav-container .nav-item ul{
    display: flex;
    padding-left: 346px;
    padding-bottom: 18px;
    padding-top: 18px;
    gap: 32px;
}

.nav-container .nav-item ul li a{
    text-decoration: none;
}

.nav-item ul li{
    list-style: none;
    
}

.nav-container .btn{
    padding-left: 346px;
    padding-bottom: 24px;
    padding-top: 24px;
}

.nav-container .btn button{
    font-size: 16px;
    font-weight: 600px;
    color: #FFFFFF; 
    padding: 12px 16px;
    background-color: #469165;
    border-radius: 4px;
}

header #banner{
    height: 674px;
    background-image: url(../assets/hero-bg.png);
}

header #banner .btn{
    padding: 115px 630px 0px;
}

header #banner .btn button{
    font-size: 16px;
    font-weight: 500px;
    color: #469165; 
    padding: 8px 12px;
    background-color: #FFFFFF;
    border-radius: 1000px; 
}

header #banner h1{
    padding: 16px 405px;
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    color: #FFFFFF;
}

header #banner p{
    
    font-size: 18px;
    padding: 0 430px;
    line-height: 30px;
    color: #FFFFFF;
}

header #banner .btn-two{
    display: flex;
    padding: 32px 550px 180px;
    gap: 20px;
    align-items: center;
}

header #banner .btn1 button{
    font-size: 16px;
    font-weight: 600;
    padding: 12px;
    color: #FFFFFF; 
    background-color: #469165;
    border-radius: 4px;
}

header #banner .btn2 button{
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
    color: #FFFFFF;
    background-color: unset; 
    border: 1px solid #FFFFFF;
    border-radius: 4px;
}

#notes{
    margin: 80px 120px 0;
    /* width: 1360px; */
    /* height: 400px; */
    /* background-color: #f9f7f7; */
}

#notes .notes-container h2{
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: #001931;
}

#notes .notes-container .notes-title p{
    text-align: center;
    font-size: 16px;
    color: #627382;
    padding-top: 15px;
    padding-bottom: 20px;
}

#notes .notes-container .notes-box{
    display: flex;
    margin: 20px 130px 0px;
    gap: 16px;
}

#notes .notes-container .notes-box .notes-card{
    padding: 10px 16px;
    box-shadow: 0 6px 50px 0 #63636320;
    border-radius: 8px;
    max-width: 274px;
}

#notes .notes-container .notes-box .notes-card img{
    margin: 70px 110px 16px;
    background-color: #F95555;
}

#notes .notes-container .notes-box .notes-card h4{
    text-align: center;
    font-size: 24px;
    font-weight: 600px;
    color: #001931;
    padding-bottom: 16px;
}

#notes .notes-container .notes-box .notes-card {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    text-align: center;
}

#solution{
    margin: 120px;
}

#solution .solution-container{
    display: flex;
    gap: 60px;
}

#solution .solution-container .solutiono-title{
    margin: 222px 0;
}

#solution .solution-container .solutiono-title h6{
    text-align: left;
    font-size: 16px;
    font-weight: 500px;
    line-height: 20px;
    color: #469165;
    padding-bottom: 16px;
}

#solution .solution-container .solutiono-title h2{
    text-align: left;
    font-size: 48px;
    font-weight: bold;
    color: #001931;
}

#solution .solution-container .solutiono-title p{
    text-align: left;
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    padding: 30px 0;
} 

#solution .solution-container .solutiono-title .details ul .list{
    display: flex;
    list-style: none;
    padding-bottom: 16px;
    text-align: left;
}

#ready{
    max-width: 1360;
    height: 484px;
    background-color: #F7F6F2;
    text-align: center;
    margin: 2px 120px 120px;
}

#ready .ready-container{
    padding: 120px 0;
}

#ready .ready-container h2{
    font-size: 40px;
    font-weight: bold;
    color: #001931;
}

#ready .ready-container p{
    font-size: 16px;
    line-height: 24px;
    color: #627382;
    padding-top: 16px;
}

#ready .ready-container button{
     font-size: 16px;
    font-weight: 600px;
    color: #FFFFFF; 
    padding: 12px 12px;
    background-color: #469165;
    border-radius: 4px;
    margin: 24px 0 0;
}

footer{
    max-width: 1600px;
    height: 348px;
    background-color: #001931;
}

footer .footer-container{
    display: flex;
    gap: 1000px;
    padding: 120px 120px 80px;
}

footer .footer-container .social h6{
    font-size: 20px;
    font-weight: 500px;
    line-height: 28px;
    color: #FFFFFF;
    padding-bottom: 16px;
}

footer hr{
    margin: 0 120px;
    color: #e5e7eb2f;
}

footer p{
    text-align: center;
    padding-top: 30px;
    font-size: 16px;
    line-height: 24px;
    color: #FAFAFA;

}